<style>
[class^='col-'] {float:right}
.col-sm-offset-2 {margin-right: 16.66666667%; margin-left: 0;}
#e_mail , #tel {direction:ltr;}
.description p {font-size: 14px;}
.highlight-blue {color:#0e7ae8;}
.checkbox p {padding-right: 20px; font-size: 14px;}
.checkbox p > input[type=checkbox] {margin-right: -20px;margin-left: 0;margin-top: 8px;}
</style>
<toaster-container toaster-options="{'position-class': 'toast-bottom-left'}"></toaster-container>
<section id="s_unofficial">
	<div class="row">
		<div class="title">
			<h2 class="text-center">ترجمه و تولید <span class="theme_bolder"> محتوا </span></h2>
			<div class="text-center" style="padding: 0 50px;">
				<p>
					<span class="highlight-blue">اونیتا</span> پلتفرمی برای تسهیل ارتباط بین مترجمین حرفه ای و افرادی است که نیاز ترجمه دارند
				</p>
			</div>
		</div>
	</div>
	<div id="services-info" class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<form class="form-horizontal" style="direction: rtl;">
				<div class="form-group">
					<div class="col-sm-12 description">
						<div class="title-info">
							خدمات ترجمه متن حرفه‌ای
						</div>
						<p class="help-block">
						
ترجمه متن همواره چالش های فراوانی را بر سر راه مترجم قرار می دهد. یکی از دشواری های ترجمه متن زمانی است که مترجم به لغات یا اصطلاحاتی می‌رسد که معادلی در زبان مقصد ندارد. در این شرایط مترجمین غالبا با دو رویکرد متفاوت با این مشکل برخورد می کند. مترجم می تواند از اصل کلمه در ترجمه استفاده کند، که اینکار فضای خارجی را وارد ترجمه کرده و مطابق اصول ترجمه نیست. اما بهترین رویکرد این است که مترجم مفهوم را به جای کلمه یا عبارت ترجمه کند. این کار نیازمند درک عمیق متن توسط مترجم، تسلط بر دو زبان مبدا و مقصد و همچنین آگاهی از سبک نوشتاری و فرهنگ نویسنده متن است.
						</p>	
						<div class="title-info">
							ترجمه متن : کیفیت ها و زمینه های ترجمه متن
						</div>
						<p class="help-block">
						ما با هدف جلب اعتماد مشتریان بخصوص در زمینه ترجمه متن ، اقدام به دسته بندی مترجمان عضو به سه سطح کیفی برنز، نقره ای و طلایی کرده‌ایم. کلیه متن ها به صورت تایپ شده (فایل ورد) و با گارانتی بازپرداخت در صورت تایید تیم کنترل کیفی تحویل می شوند .همچنین، امکان استعلام قیمت بر حسب کلمه از طریق محاسبه گر ما برای عموم بصورت آنلاین وجود دارد ،از دیگر تمهیدات ما اعلام زمان تحویل دقیق ترجمه متن به مشتریان، قابلیت پرداخت آنلاین داخلی و خارجی، ویراستاری متن ترجمه شده (در صورت تمایل مشتری) است.

برای هر نوع متن در هر زمینه ای مترجم تخصصی داریم. عمومی، فنی و تخصصی، حقوقی، ترجمه متون پزشکی، تجاری، دانشجویی، اداری جهت ارائه در دانشگاه ها، سازمانها، نشریات و مجلات، بروشور و راهنما، مقاله ISI، مقاله IEEE ،یا هر مجله معتبر دیگری، کتاب، مکاتبات روزمره، محتوای یک کاتالوگ، ترجمه متن برای نامه نگاری اداری، تجاری، مستندات، یک تحقیق دانشجویی، پایان نامه، خلاصه نویسی و ...
						</p>
						<!-- <div class="title-info">
							ترجمه مقاله از زبان فارسی به انگلیسی برای ارسال به ژورنال‌های ISI
						</div> -->
						<p class="add-block" style="font-size: 13px">
							زبانهای ترجمه متن: انگلیسی ، عربی، آلمانی، فرانسوی، چینی، روسی، ژاپنی، کره ای، ایتالیایی، اسپانیایی، ترکی استانبولی، ترکی آذری و...
						</p>

						<p class="add-block" style="font-size: 13px">
						زمینه های ترجمه متن : رشته های پزشکی، حقوق، روان شناسی، شیمی، علوم طبیعی، علوم اجتماعی، علوم پایه، عمران، کامپیوتر، محیط زیست، مدیریت و حسابداری، مکانیک، هنر، زیست، ادبیات، اقتصاد، بازرگانی، ورزشی، برق و الکترونیک، صنایع، فلسفه،ادبیات و زبان شناسی، فقه، مالی و بازرگانی، مکاتبات تجاری، اسناد تجاری، فیزیک، تاریخ، زمین شناسی، ارتباطات، نفت و گاز و ...
						</p>

						<p>
							<img class="" src="assets/images/logo-elsevier.jpeg" alt="">
						</p>
						<p>
							<img class="" src="assets/images/logo-ieee.jpeg" alt="">
						</p>
						<p>
							<img class="" src="assets/images/logo-jwiley.jpeg" alt="">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center mb30">
						
					</div>
				</div>
			</form>
		</div>
	</div>
</section>