
<!-- Home section starts -->
<header id="header" class="valign_wrapper bg_slider" data-backstretch data-backstretch-images="images" data-backstretch-duration="4000" data-backstretch-fade="1" data-banner>
	<!-- <div class="light_bg_layer"></div> -->
	<div class="container">
		<div class="row">
			<section id="home" >
				<div class="container">
					<div class="row">
						<!-- <h1 class="mb50 intro-title">
							با اونیتا
							<span class="element typewriter" typewriter type-speed="200" loop=true loop-delay="1000" custom-style=false cursor=true shell=false messages="sentences" newline=false></span>
							لذت ببرید
						</h1> -->
						<div class="col-md-12 float-right">
							<div class="pricing-package pricing-package-recommended">
								<div class="pricing-package-recommend premium">
							        <svg viewBox="0 0 156 16" style="width:auto; height:10px;" x="0" y="0" preserveAspectRatio="xMinYMin meet">
							        	<g class="large-icon" style="fill: currentColor">
										    <path style="fill:#ffffff; opacity:.7" d="M30,15.7h2.8V9.9h2.5c3.4,0,6-1.6,6-5.1S38.8,0,35.3,0H30Zm2.8-8V2.2h2.3c2.3,0,3.5.6,3.5,2.6s-1.1,2.9-3.5,2.9ZM50.9,2.2h2.2c2.2,0,3.3.6,3.3,2.4s-1.2,2.7-3.3,2.7H50.9Zm8.9,13.5L56.1,9.1a4.32,4.32,0,0,0,3.1-4.5c0-3.5-2.5-4.7-5.8-4.7H48.1V15.6h2.8V9.5h2.4l3.4,6.1h3.1Zm6.6,0h9.7V13.3H69.2V8.7h5.6V6.3H69.2v-4h6.6V0H66.4V15.7Zm16.8,0h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2H97V0H93.9L91.1,7.7l-1,3H90l-1-3L86.2,0h-3Zm21.8,0h2.8V0H105Zm10.6-6.9c0,5.2,2.3,7.2,6,7.2s5.9-2,5.9-7.2V0h-2.7V9c0,3.4-1.3,4.5-3.2,4.5s-3.2-1.1-3.2-4.5V0h-2.8Zm19.8,6.9h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2h2.6V0h-3.1l-2.8,7.7-1,3h-.1l-1-3L138.4,0h-3V15.7Z"></path>
								  		</g>
									</svg>
							    </div>
							    <article class="pricing-package-article" style="height: 401px;">
							        <h3>ترجمه تیم اونیتا</h3>
							        <div class="pricing-package-price"><span>€<b>22.50</b></span><ins>per user/month</ins></div>
							        <h4 class="pricing-package-description" style="height: 104px;">
							        	<li class="plans-reason">Everything in Plus</li>
							        	<li class="plans-reason">Smart Sync: Save hard disk space</li>
							        	<li class="plans-reason">Showcase: Present and track your work</li>
							        </h4>
							        <div class="cta-in-row stacked-cta" style="height: 100px;">
							        	<!-- <a href="https://account.box.com/signup/n/businessplus" class="btn-secondary">Try It</a> -->
							        <a ng-click="openModal('customer')" class="btn-primary">ثبت ترجمه</a>
							    </div>
							    </article>
							</div>
							<div role="article" class="pricing-package pricing-package-recommended">
							    <article class="pricing-package-article" style="height: 401px;">
							        <h3>ترجمه تخصصی</h3>
							        <div class="pricing-package-price"><span>€<b>13.50</b></span><ins>per user/month</ins></div>
							        <h4 class="pricing-package-description" style="height: 104px;">
							        	<li class="plans-reason">Everything in Plus</li>
							        	<li class="plans-reason">Smart Sync: Save hard disk space</li>
							        	<li class="plans-reason">Showcase: Present and track your work</li>
						        	</h4>
							        <div class="cta-in-row stacked-cta" style="height: 100px;">
							       <!--  	<a href="https://account.box.com/signup/n/business" class="btn-green-secondary">Try it</a> -->
							        <a ng-click="openModal('customer')" class="btn-green-primary">ثبت ترجمه</a></div>
							    </article>
							</div>
							<div class="pricing-package pricing-package-recommended">
							    <article class="pricing-package-article" style="height: 401px;">
							        <h3>ترجمه ارزان</h3>
							        <div class="pricing-package-price">
							        	<span><b>4.50</b></span><ins>ت / هر کلمه</ins>
							        </div>
							        <h4 class="pricing-package-description" style="height: 104px;">
							        	<li class="plans-reason">Everything in Plus</li>
							        	<li class="plans-reason">Smart Sync: Save hard disk space</li>
							        	<li class="plans-reason">Showcase: Present and track your work</li>	
						        	</h4>
							        <div class="cta-in-row stacked-cta" style="height: 100px;">
							        	<!-- <a href="https://account.box.com/signup/n/starter" class="btn-secondary">Try it</a> -->
							        	<a ng-click="openModal('customer')" class="btn-primary">ثبت ترجمه</a></div>
							    </article>
							</div>
							<div class="pricing-package">
							    <article class="pricing-package-article" style="height: 401px;">
							        <li class="list_content">
									
									<p>
										اونیتا متمرکز ترین مرکز انجام سفارشات ترجمه آنلاین برای <strong>دانشجو</strong> است
									</p>
								</li>
								<li class="list_content">
									
									<p>
										<strong>پروژه های دانشجویی</strong> چیزی بالغ بر ۸۰ ٪ سفارشات روزانه ما را تشکیل می دهد 
									</p>
								</li>
								<li class="list_content">
									
									<p>
										تیم ما متشکل از مجرب ترین مترجمین فارغ التحصیل از دانشگاه های <strong>علامه</strong>، <strong>تهران</strong> و <strong>بهشتی</strong> می باشد
									</p>
								</li>
								<li class="list_content">
									
									<p>
										<!-- <button type="button" class="btn theme_btn mr15" ng-click="openModal('translator');">جذب مترجم</button> -->
							<button type="button" class="btn theme_btn" ng-click="openModal('customer');">ثبت پروژه ترجمه</button>
									</p>
								</li>
							    </article>
							</div>
						</div>
						<!-- <div class="col-sm-5 float-right hidden-xs hidden-sm">
							<div class="home_ph">
								<img class="img-responsive home_slide1" src="assets/images/screen1.png" alt="ثبت سفارش اونیتا بر روی تلگرام" />
								<img class="img-responsive home_slide2" src="assets/images/screen2.png" alt="Home-Phone Image" />
								<img class="img-responsive home_slide3"  src="assets/images/screen3.png" alt="Home-Phone Image" />
							</div>
						</div> -->
					</div>
				</div>
			</section>
		</div>
	</div>
</header>
<!-- Home section ends -->

<section id="deal_closer">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="form-group">
				<input type="text" class="form-control" style="font-size: 15px;width: 80%;direction: rtl;" placeholder="ایمیل یا شماره تماس خود را وارد کنید ..." 	ng-model="customer.email"></input>
			</div>
			<div class="form-group" ng-if="!filesName.length">
				<div ng-model="files" class="drop-box" 
	                                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-max-size="20MB"
	                                     accept="image/*,application/pdf" 
	                                     ngf-pattern="'image/*,application/pdf'" ngf-drop="uploadFiles($files)">
                    <p ng-hide="uploading">
                     فایل ترجمه را آپلود کنید 
                         </p>
                         <p ng-show="uploading">{{fileProgress + '%'}}</p>
                </div>
                <div ngf-no-file-drop>
                    <p>لطفا از اینترنت اکسپلورر استفاده نکنید،‌ ممنون :)</p>
                </div>
			</div>
			<div class="form-group">
                <div class="col-sm-12">
	                <div class="onita-collection" ng-repeat="files in filesName">
		                <div class="collection-elements">
		                    <div class="collection-item text-center">
		                        <div class="collection-item-preview">
		                            <img class="collection-item-img" ng-src="/assets/images/plain.png" alt>
		                            <div class="collection-item-overlay"></div>
		                            <div class="collection-item-info"></div>
		                            <div class="collection-item-progress" ng-style="{'width':fileProgess + '%'}"></div>
	                        		<div class="collection-item-name">{{files.file.name}}</div>
		                        </div>
		                    </div>
		                </div>
		            </div>
                </div>
			</div>
			<div class="form-group">
				<button type="button" class="btn theme_btn bg_blue" ng-click="immiOrder(customer);">ثبت پروژه ترجمه</button>
			</div>
		</div>
		<div class="col-sm-3"></div>
</section>

<!-- Core_features section starts -->
<!-- Core_features section ends -->

<!-- Extra_features section starts -->
<!-- <section id="extra_features" ng-if="!userLogged">
	<div class="container">
		<div class="row rtl">
			<div class="title">
				<h2 class="text-center">هر آنچه<span class="theme_bolder"> نیاز دارید</span></h2>
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<p>
						تمرکز تیم اونیتا بر نیاز های قشر دانشجو به صورت خاص موجب شده تا تمامی خدمات با بودجه و زمان یک دانشجو متناسب باشد تا همچون همیشه اونیتا <strong>  بیشترین رضایت مشتریان </strong> گرامی را به ارمغان بیاورد.
					</p>
				</div>
			</div>
		</div>
		<div class="row rtl">
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="docs"></span>
				</div>
				<h4 class="system_font_color text-uppercase"> مقالات علمی ISI </h4>
				<p> ترجمه انگلیسی به فارسی و یا برعکس مقالات پژوهشی جز لاینفک مسیر آکادمیک است که با <strong> کمترین هزینه </strong> انجام و تحویل می گردد</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="desktop"></span>
				</div>
				<h4 class="system_font_color text-uppercase"> پروژه دانشجویی </h4>
				<p> پروژه های دانشجویی بالغ بر هشتاد درصد کل سفارشات ما را شامل می شود که گواه <strong> سرعت بالا </strong> تیم ماست </p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="psd"></span>
				</div>
				<h4 class="system_font_color text-uppercase"> چکیده پایان نامه </h4>
				<p> از مهم ترین عوامل در ترجمه پایان نامه داشتن <strong>دامنه لغت وسیع </strong>است که تخصص مترجمین ماست </p>
			</div>
		</div>
		<div class="extra_feature_ph">
			<img class="img-responsive animate_bottom_60" src="assets/images/extra_feature.png" alt="Extra_feature">
		</div>
	</div>
</section> -->
<!-- Extra_features section ends -->

<!-- Amazing_features section starts -->
<section id="amazing_features" ng-if="!userLogged" ng-hide="true">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">خیلی راحت <span class="theme_bolder">کار می کنه</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						ربات تلگرام اونیتا این امکان را برای دانشجویان عزیز فراهم کرده تا هر زمان و هر جا به آسانی و در سریع ترین زمان ممکن اقدام به ثبت سفارشات خود کنند 
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div id="amazing_img" data-slick  class="slider single-item" data-slides-to-show=1 data-slides-to-scroll=1 data-arrows=true data-fade=true data-autoplay=false data-draggable=true data-as-nav-for="#amazing_cont">
					<div>
						<img class="img-responsive" src="assets/images/showcase/showcase-1.png" alt="" />
					</div>
				</div>
			</div>
			<div class="amazing_features">
				<div class="col-sm-6 amazing_content">
					<div id="amazing_cont" data-slick  class="slider single-item" data-slides-to-show=1 data-slides-to-scroll=1 data-as-nav-for="#amazing_img" data-dots=false data-autoplay=false data-arrows=true data-focus-on-select=true  >
						<div class="amazing_details">
							<div class="amazing-circle">
								<h4>1</h4>
							</div>
							<h4 class="text-uppercase system_font_color">Fully Responsive design</h4>
							<p>
								This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="text-right">
								<a href="#">Read More...</a>
							</div>
						</div>
						<div class="amazing_details">
							<div class="amazing-circle">
								<h4>2</h4>
							</div>
							<h4 class="text-uppercase system_font_color">Awasome Features</h4>
							<p>
								Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="text-right">
								<a href="#">Read More...</a>
							</div>
						</div>
						<div class="amazing_details">
							<div class="amazing-circle">
								<h4>3</h4>
							</div>
							<h4 class="text-uppercase system_font_color">پروژه شما انجام شد.</h4>
							<p>
								This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="text-right">
								<a href="#">Read More...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Amazing_features section ends -->

<section class="home-growth-stack" data-background="gradient1">
    <div class="hsg-page-width-normal">
      <div class="home-growth-stack__logo-wrapper">
        <img class="home-growth-stack__logo" src="assets/images/logo/logo-typo-w.png" alt="Onita Group Logo">
      
        
          <h2 class="home-growth-stack__logo-header"> گروه ترجمه فیلم </h2>
          <p class="home-growth-stack__logo-description">
          	تیم اونیتا متشکل از حرفه ای ترین مترجمین فیلم و سریال ، آماده انجام تمامی سفارشات زیرنویس فیلم ، سریال ، مستند به صورت تصویری و صوتی در کوتاه ترین زمان ممکن می باشد 
          </p>
        
      
      </div>
      
    </div>
    <nav class="home-growth-stack__columns hsg-flex hsg-anchored-nav" style="background-image: -webkit-gradient(linear, left top, right top, from(#ff7a59), to(#ff8f59)), linear-gradient(to right, #ff7a59, #ff8f59);">
        <ul class="hsg-page-width-normal">

            <li>
                <a href="" class="home-growth-stack__column-item">
                	<div class="bg-Layer_sub_sub"></div>
                  <h4 class="home-growth-stack__column-header">ترجمه زیرنویس</h4>
                  <p class="home-growth-stack__column-description">
                  	برگردان زیر نویس فیلم های مستند و خبری به زبان های انگلیسی و آلمانی
                  </p>
                  <span class="btn btn-discard" ng-click="openModal('s_unofficial_content');">بیشتر بدانید</span>
                </a>
            </li>
            
        
            
            <li>
                <a href="" class="home-growth-stack__column-item">
        			<div class="bg-Layer_sub_tra"></div>
                  <h4 class="home-growth-stack__column-header">پیاده سازی و ترجمه</h4>
                  <p class="home-growth-stack__column-description">
                  	متن نویسی و ترجمه متون فایل های صوتی و فیلم 
                  </p>
                  <span class="btn btn-discard" ng-click="openModal('s_unofficial_content');">بیشتر بدانید</span>
                </a>
            </li>
            
            
            <li>
                <a href="" class="home-growth-stack__column-item">
                	<div class="bg-Layer_sub_audio"></div>
                  <h4 class="home-growth-stack__column-header">ترجمه فایل صوتی</h4>
                  <p class="home-growth-stack__column-description">
                  	ترجمه و متن نویسی فایل های صوتی در تمامی فرمت های موجود 
                  </p>
                  <span class="btn btn-discard" ng-click="openModal('s_unofficial_content');">بیشتر بدانید</span>
                </a>
            </li>
        
            <li>
                <a href="" class="home-growth-stack__column-item">
                	<div class="bg-Layer_sub"></div>
                  <h4 class="home-growth-stack__column-header">ترجمه فیلم</h4>
                  <p class="home-growth-stack__column-description">
                  	متخصص ترین مترجمین فیلم و سریال با سابقه همکاری با معتبر ترین سایت اشتراک فیلم 
                  </p>
                  <span class="btn btn-discard" ng-click="openModal('s_unofficial_content');">بیشتر بدانید</span>
                </a>
            </li>
            
        
        </ul>
    </nav>
</section>

<!-- Pricing section starts -->
<section id="pricing" style="background-color: white;" ng-if="!userLogged">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">هزینه <span class="theme_bolder">ترجمه</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						هزینه انجام سفارش ترجمه در اونیتا به طرز چشمگیری مقرون به صرفه است ، دلیل این موضوع تنها و تنها بهینه طی شدن تمامی مراحل کار با اونیتا است  
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 premium">
				<div class="pricing-table">
					<!-- <div class="best_package">پیشنهاد ما</div> -->
					<div class="pricing-table_header text-center">
						<div class="pricing_cost" style="position: relative;">
							<li-icon class="premium-badge 10dp-icon" type="premium-badge" a11y-text="Premium" aria-hidden="true" style="">
								<svg viewBox="0 0 156 16" style="width:auto; height:10px;" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
								    <path style="fill:#ffffff; opacity:.7" d="M30,15.7h2.8V9.9h2.5c3.4,0,6-1.6,6-5.1S38.8,0,35.3,0H30Zm2.8-8V2.2h2.3c2.3,0,3.5.6,3.5,2.6s-1.1,2.9-3.5,2.9ZM50.9,2.2h2.2c2.2,0,3.3.6,3.3,2.4s-1.2,2.7-3.3,2.7H50.9Zm8.9,13.5L56.1,9.1a4.32,4.32,0,0,0,3.1-4.5c0-3.5-2.5-4.7-5.8-4.7H48.1V15.6h2.8V9.5h2.4l3.4,6.1h3.1Zm6.6,0h9.7V13.3H69.2V8.7h5.6V6.3H69.2v-4h6.6V0H66.4V15.7Zm16.8,0h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2H97V0H93.9L91.1,7.7l-1,3H90l-1-3L86.2,0h-3Zm21.8,0h2.8V0H105Zm10.6-6.9c0,5.2,2.3,7.2,6,7.2s5.9-2,5.9-7.2V0h-2.7V9c0,3.4-1.3,4.5-3.2,4.5s-3.2-1.1-3.2-4.5V0h-2.8Zm19.8,6.9h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2h2.6V0h-3.1l-2.8,7.7-1,3h-.1l-1-3L138.4,0h-3V15.7Z"></path>
								    <path style="fill:#c8b476" d="M14,0H2A2,2,0,0,0,.59.59L15.41,15.41A2,2,0,0,0,16,14V2A2,2,0,0,0,14,0Z"></path>
								    <path style="fill:#b29a53" d="M0,2V14a2,2,0,0,0,2,2H14a2,2,0,0,0,1.41-.59L.59.59A2,2,0,0,0,0,2Z"></path>
								  </g>
								</svg>
							</li-icon>
						</div>
						<h4 style="color: #c8b476"> مجرب ترین مترجمین تیم اونیتا </h4>
					</div>
					<div class="pricing-table_cnt text-center rtl">
						<ul>

							<li> ترجمه انگلیسی و آلمانی </li>
							<li> ترجمه 100% تخصصی </li>
							<li> مناسب برای چاپ در ژورنال </li>
							<li> آفر اختصاصی شرکتی و سازمانی </li>
							<li>
								<a ng-click="openModal('customer')" class="btn-primary">ثبت ترجمه</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4 silver">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							<li-icon class="premium-badge 10dp-icon" type="premium-badge" a11y-text="Premium" aria-hidden="true" style="">
								<svg viewBox="0 0 156 16" style="width:auto; height:10px;" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
								    <path style="fill:#ffffff; opacity:.7" d="M30,15.7h2.8V9.9h2.5c3.4,0,6-1.6,6-5.1S38.8,0,35.3,0H30Zm2.8-8V2.2h2.3c2.3,0,3.5.6,3.5,2.6s-1.1,2.9-3.5,2.9ZM50.9,2.2h2.2c2.2,0,3.3.6,3.3,2.4s-1.2,2.7-3.3,2.7H50.9Zm8.9,13.5L56.1,9.1a4.32,4.32,0,0,0,3.1-4.5c0-3.5-2.5-4.7-5.8-4.7H48.1V15.6h2.8V9.5h2.4l3.4,6.1h3.1Zm6.6,0h9.7V13.3H69.2V8.7h5.6V6.3H69.2v-4h6.6V0H66.4V15.7Zm16.8,0h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2H97V0H93.9L91.1,7.7l-1,3H90l-1-3L86.2,0h-3Zm21.8,0h2.8V0H105Zm10.6-6.9c0,5.2,2.3,7.2,6,7.2s5.9-2,5.9-7.2V0h-2.7V9c0,3.4-1.3,4.5-3.2,4.5s-3.2-1.1-3.2-4.5V0h-2.8Zm19.8,6.9h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2h2.6V0h-3.1l-2.8,7.7-1,3h-.1l-1-3L138.4,0h-3V15.7Z"></path>
								    <path style="fill:#ffffff" d="M14,0H2A2,2,0,0,0,.59.59L15.41,15.41A2,2,0,0,0,16,14V2A2,2,0,0,0,14,0Z"></path>
								    <path style="fill:#eeeeee" d="M0,2V14a2,2,0,0,0,2,2H14a2,2,0,0,0,1.41-.59L.59.59A2,2,0,0,0,0,2Z"></path>
								  </g>
								</svg>
							</li-icon>
						</div>
						<h4> مناسب برای پروژه های دانشجویی </h4>
					</div>
					<div class="pricing-table_cnt text-center rtl">
						<ul>

							<li> ترجمه انگلیسی به فارسی </li>
							<li> ترجمه فارسی به انگلیسی </li>
							<li>  مناسب برای پروژه </li>
							<li> مناسب برای پایان نامه </li>
							<li>
								<a ng-click="openModal('customer')" class="btn-primary">ثبت ترجمه</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4 bronze">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							<li-icon class="premium-badge 10dp-icon" type="premium-badge" a11y-text="Premium" aria-hidden="true" style="">
								<svg viewBox="0 0 156 16" style="width:auto; height:10px;" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
								    <path style="fill:#ffffff; opacity:.7" d="M30,15.7h2.8V9.9h2.5c3.4,0,6-1.6,6-5.1S38.8,0,35.3,0H30Zm2.8-8V2.2h2.3c2.3,0,3.5.6,3.5,2.6s-1.1,2.9-3.5,2.9ZM50.9,2.2h2.2c2.2,0,3.3.6,3.3,2.4s-1.2,2.7-3.3,2.7H50.9Zm8.9,13.5L56.1,9.1a4.32,4.32,0,0,0,3.1-4.5c0-3.5-2.5-4.7-5.8-4.7H48.1V15.6h2.8V9.5h2.4l3.4,6.1h3.1Zm6.6,0h9.7V13.3H69.2V8.7h5.6V6.3H69.2v-4h6.6V0H66.4V15.7Zm16.8,0h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2H97V0H93.9L91.1,7.7l-1,3H90l-1-3L86.2,0h-3Zm21.8,0h2.8V0H105Zm10.6-6.9c0,5.2,2.3,7.2,6,7.2s5.9-2,5.9-7.2V0h-2.7V9c0,3.4-1.3,4.5-3.2,4.5s-3.2-1.1-3.2-4.5V0h-2.8Zm19.8,6.9h2.5V8.5c0-1.5-.2-3.6-.3-5h.1l1.2,3.6,2.7,7.1h1.3l2.7-7.1,1.3-3.6h.1c-.1,1.4-.4,3.5-.4,5v7.2h2.6V0h-3.1l-2.8,7.7-1,3h-.1l-1-3L138.4,0h-3V15.7Z"></path>
								    <path style="fill:#999" d="M14,0H2A2,2,0,0,0,.59.59L15.41,15.41A2,2,0,0,0,16,14V2A2,2,0,0,0,14,0Z"></path>
								    <path style="fill:#666" d="M0,2V14a2,2,0,0,0,2,2H14a2,2,0,0,0,1.41-.59L.59.59A2,2,0,0,0,0,2Z"></path>
								  </g>
								</svg>
							</li-icon>
						</div>
						<h4 style="color:#999;"> مناسب برای پروژه های دانشجویی  </h4>
					</div>
					<div class="pricing-table_cnt text-center rtl">
						<ul>
							<li> ترجمه انگلیسی به فارسی دانشجویی </li>
							<li> ترجمه ارزان </li>
							<li> مترجم های تازه کار </li>
							<li> مناسب برای مطالب عمومی </li>
							<li>
								<a ng-click="openModal('customer')" class="btn-primary">ثبت ترجمه</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section ends -->

<section id="hiiw_filler">
	<div class="dc-bg" data-img-type="background-local" style="background-image: url(/assets/images/deal_closer_bg.png);">
		<div id="herobox" class="">
		    <div id="hero-content">
		        <div id="blurb">
		            گروه مترجمین اونیتا همواره به دنبال جذب مترجمین مجرب به زبان های انگلیسی و آلمانی است .
		            <br>
		            <br>
		            <button class="btn theme_btn bg_blue">درخواست همکاری </button> 
		        </div>
		        <div id="desc">
		            <ol id="hiw">
		                <li id="b">
		                	انجام کار و دریافت هزینه
		                </li>
		                <li id="an">
		                    انتخاب سفارشات ترجمه 
		                </li>
		                <li id="q">
		                    اعلام همکاری و جذب مترجم
		                </li>
		            </ol>
		        </div>
		    	<div style="clear: both"></div>
	    	</div>
		</div>
	</div>
</section>



<!-- Available_app section starts -->
	<!-- <section id="available_app"  data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/banner/background-1-cloud.png);" ng-if="!userLogged">
	<div class="bg_layer"></div>
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">هر جا <span class="white_bolder">تلگرام هست ما هستیم</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						هر زمان در هر کجا و با هر دستگاهی می توانید به راحتی سفارش بدید
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center apps">
				<span class="tablet animate_fade_in"></span>
				<h4>تبلت</h4>
				<p>
					This is Photoshop's version  of Lorem Ipsum. Proin gravida
				</p>
			</div>
			<div class="col-sm-4 text-center apps">
				<span class="pc animate_fade_in"></span>
				<h4>کامپیوتر</h4>
				<p>
					This is Photoshop's version  of Lorem Ipsum. Proin gravida
				</p>
			</div>
			<div class="col-sm-4 text-center apps">
				<span class="app_phone animate_fade_in"></span>
				<h4>موبایل</h4>
				<p>
					This is Photoshop's version  of Lorem Ipsum. Proin gravida
				</p>
			</div>
		</div>
	</div>
</section> -->
<!-- Available_app section ends -->


<!-- Working section starts -->
<!-- Working section ends -->

<!-- Screen-shot section starts -->
<!-- Screen-shot section ends -->

<!-- Counter section starts -->
<!-- Counter section ends -->

<!-- Team section starts -->
<!-- Team section ends -->

<!-- People section starts -->
<!-- People section ends -->

<!-- Download section starts -->
<!-- Download section ends -->

<!-- FAQ section starts -->
<!-- <section id="faq" style="background-color: white;" ng-if="!userLogged">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">سوالات پر تکرار <span class="theme_bolder">!</span></h2>
				<div class="col-xs-12 text-center">
					<p>
						در گروه اونیتا ساده سازی فرآیند های ترجمه است ، لذا یکی از بدیهی ترین کار هایی که می توانستیم برایتان انجام دهیم ارائه لیست سوالاتی است که در طول روز بار ها تکرار میشود
					</p>
				</div>
			</div>
		</div>
		<div class="row valign_wrapper">
			<div class="col-sm-6">
				<div data-uib-accordion  data-close-others="oneAtATime">
                    <div data-uib-accordion-group class="panel-default" data-is-open="status.acc1rClose">
                        <div data-uib-accordion-heading>
                           
                           چگونه هزینه انجام پروژه گروه شما تا این حد کم (مقرون به صرفه) است ؟
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	در اونیتا بعد از کیفیت کار ارسالی ، هزینه مقرون به صرفه برای ما جزء بالاترین اولویت ها می باشد ، تمام تلاش دوستان در قسمت سفارش گیری تا در نهایت که کنترل قیمت نهایی است بر متناسب بودن هزینه با تلاش مد نظر است .
                        </p>
                    </div>

                    <div data-uib-accordion-group class="panel-default" data-is-open="status.acc2rClose">
                        <div data-uib-accordion-heading>
                          
                            چگونه میتوانم سفارش ترجمه ثبت کنم ؟
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	به راحتی . تمام فرآیند های اونیتا بر روی تلگرام صورت می گیرد ، شما می توانید ب راحتی به ربات تلگرام اونیتا سر زده و خود ربات به صورت قدم ب قدم شما ثبت سفارش ترجمه را برای شما پیش میبرد . 
                        </p>
                    </div>
                       <div data-uib-accordion-group class="panel-default" data-is-open="status.acc3rClose">
                        <div data-uib-accordion-heading>
                           
                            چرا فقط از طریق تلگرام اقدام به سفارش گیری میکنید ؟
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	همونطور که پیشتر ذکر شد از مهمترین عوامل تاثیرگذار در کارهای ما پایین نگه داشتن هزینه تمام شده ترجمه است تا دوستان دانشجو فشاری من باب هزینه نداشته باشند ، از همین جهت ما از سیستم تلگرام استفاده میکنیم تا به صورت مترمکز و یکپارچه بتوانیم پروژه ها را توزیع و مدیریت کنیم . 
                        </p>
                    </div>
                       <div data-uib-accordion-group class="panel-default" data-is-open="status.acc4rClose">
                        <div data-uib-accordion-heading>
                           
                            علاقه مندم به عنوان مترجم با شما همکاری کنم 
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	در ابتدا از اینکه تمایل به همکاری با گروه اونیتا را دارید مایه مباهات ماست ، امیدواریم بتوانیم شما را در کنار خود و همکارانمان ببینیم و ارتباطی بلند مدت و لذت بخش را با هم شاهد باشیم.

شما میتوانید در انتهای صفحه آدرس تلگرام جذب مترجم ما را مشاهده و بر روی آن کلیک (با موبایل ضربه بزنید) . همکاران من ظرف کوتاه ترین زمان ممکن با شما ارتباط برقرار خواهند کرد .
                        </p>
                    </div>
                </div>
			</div>
			<div class="col-sm-6">
				<div data-uib-accordion  data-close-others="oneATA">
                    <div data-uib-accordion-group class="panel-default" data-is-open="status.acc1lClose">
                        <div data-uib-accordion-heading>
                           
                           چگونه هزینه انجام پروژه گروه شما تا این حد کم (مقرون به صرفه) است ؟
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	در اونیتا بعد از کیفیت کار ارسالی ، هزینه مقرون به صرفه برای ما جزء بالاترین اولویت ها می باشد ، تمام تلاش دوستان در قسمت سفارش گیری تا در نهایت که کنترل قیمت نهایی است بر متناسب بودن هزینه با تلاش مد نظر است .
                        </p>
                    </div>

                    <div data-uib-accordion-group class="panel-default" data-is-open="status.acc2lClose">
                        <div data-uib-accordion-heading>
                          
                            چگونه میتوانم سفارش ترجمه ثبت کنم ؟
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	به راحتی . تمام فرآیند های اونیتا بر روی تلگرام صورت می گیرد ، شما می توانید ب راحتی به ربات تلگرام اونیتا سر زده و خود ربات به صورت قدم ب قدم شما ثبت سفارش ترجمه را برای شما پیش میبرد . 
                        </p>
                    </div>
                       <div data-uib-accordion-group class="panel-default" data-is-open="status.acc3lClose">
                        <div data-uib-accordion-heading>
                           
                            چرا فقط از طریق تلگرام اقدام به سفارش گیری میکنید ؟
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	همونطور که پیشتر ذکر شد از مهمترین عوامل تاثیرگذار در کارهای ما پایین نگه داشتن هزینه تمام شده ترجمه است تا دوستان دانشجو فشاری من باب هزینه نداشته باشند ، از همین جهت ما از سیستم تلگرام استفاده میکنیم تا به صورت مترمکز و یکپارچه بتوانیم پروژه ها را توزیع و مدیریت کنیم . 
                        </p>
                    </div>
                       <div data-uib-accordion-group class="panel-default" data-is-open="status.acc4lClose">
                        <div data-uib-accordion-heading>
                           
                            علاقه مندم به عنوان مترجم با شما همکاری کنم 
                            <i class="pull-right glyphicon" ></i>
                        </div>
                        <p>
                        	در ابتدا از اینکه تمایل به همکاری با گروه اونیتا را دارید مایه مباهات ماست ، امیدواریم بتوانیم شما را در کنار خود و همکارانمان ببینیم و ارتباطی بلند مدت و لذت بخش را با هم شاهد باشیم.

شما میتوانید در انتهای صفحه آدرس تلگرام جذب مترجم ما را مشاهده و بر روی آن کلیک (با موبایل ضربه بزنید) . همکاران من ظرف کوتاه ترین زمان ممکن با شما ارتباط برقرار خواهند کرد .
                        </p>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section> -->



<!-- FAQ section ends -->

<!-- Subscribe section starts -->
<!-- Subscribe section ends -->

<!-- Clients section starts -->
<!-- Clients section ends -->

<!-- Contact section starts -->
<!-- <section id="contactus" style="background-color: white;">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">Get <span class="theme_bolder">In Touch</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit Lorem Ipsum. Proin gravida nibh vel velit </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-6">
							<input type="text" class="form-control mob_control" id="email" placeholder="Your Name">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="e_mail" placeholder="Email Id">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="pwd" placeholder="Website">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea class="form-control" rows="4" cols="50" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center mb30">
							<button class="btn theme_btn">Send Message</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section> -->
<!-- Contact section ends -->

<!-- Move to up starts-->
<div data-back-top ><i class="fa fa-arrow-up"></i></div>


<!-- Move to up ends-->